body {
	display: flex;
	justify-content: space-between;
	overflow-y: hidden;
}

.video-stream {
	width: 85%;
	flex-grow: 0;
	height: 100vh;
}

.video-stream div:first-child {
	display: flex;
}

.video-stream input {
	padding: 8px;
	display: block;
	margin: 10px auto;
}

.video-stream video {
	margin: 0 auto;
	max-width: 100%;
	height: calc(100vh - 60px);
}

.image-gallery {
	display: flex;
	flex-direction: column;
	width: 20%;
	flex-grow: 0;
	height: 100vh;
	overflow-x: scroll;
}

.image-gallery img {
	width: 100%;
}

.loader {
	position: relative;
	top: -150px;
	left: 100px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 4;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}