<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<div class="video-stream">
		<div>
			<video id="sourcevid" autoplay onloadedmetadata="ResizeCanvas();">
				Sorry, you're browser doesn't support video. Please try 
				<a href="http://snapshot.opera.com/labs/camera/">Opera</a>.
			</video>
		</div>
		<div>
			<input type="button" value="Capture" onclick="snapshot()" class="button" >
		</div>
	</div>
	<div class="image-gallery" id="MainContainer">
	</div>
	<canvas id="tmpImage" style="display:none"></canvas>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</html>

